
* {
    margin:  0;
    padding:  0;
    box-sizing: border-box;
}

/*Google Font*/
body {
    font-family: 'Open Sans', sans-serif;
}

/*Nav*/

nav {
    /*properties that make up the "padding property"*/
    /*padding-top:  0.8rem;
    padding-bottom: 0.8rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;*/
    /*shorthand property*/
    /*Applied padding to all sides*/
    /*Value is 12.8px based on the root/html element*/
    padding: 0.8rem;

    /*creates space between the nav and intro section*/
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
    list-style-type: none;

}

nav .nav, nav .nav-logo {
    /*margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;*/
    margin: 0.5rem;
    /*changes elements to inline elements*/
    display: inline;
}

/*intro section*/

#intro {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
    /*short hand*/
    /*padding:  2rem 10% 3rem*/
}

.header {
    text-align: center;
    /*best used when horizontally aligning text instead of using our margins and paddings*/
}

#intro h2, #intro p {
    /*this creates space between the contents of the intro section*/
    margin-bottom: 1rem;
}

#intro button {
    color: white;

    /*changes the thickness of our text*/
    font-weight: bold;
    background-color: #c2195b;
    border-radius: 25px;
    font-size: 1rem;
    /*creates space between the button text and the border*/
    padding: 1rem;
}
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

#succeed-info h2 {
    margin-bottom: 1rem;
   
}

#succeed-info h3 {
    text-align: center;
    margin-bottom: 1rem;
}

#succeed-info .card {
    display: inline-block;
    vertical-align: top;
    min-height: 175px;
    width: 30%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/*footer*/
footer {
    padding: 0.7rem;
    

}

footer span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


#pre-footer {
    padding: top 10%;
  background-color: darkblue;
    color: white;
    }

#pre-footer .silver-background {
    margin-right: 7rem;
    display:inline-table;
}
.silver-background, h3, p {
    margin-top: 0.5rem;
}
